@media (max-width: 767px) {
  .MuiIconButton-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.div.dividers div:last-child a {
  border-right: none;
}

.qa:nth-last-child(2) {
  border-bottom: none;
}
/* 

.menu_bottom ul li:not(:last-child):after{
    content: "";
    border-right: 1px solid #00a0dc;
    position: absolute;
    right: 0px;
    top: 3px;
    height: 11px;
} */
