.card {
  border: none;
}

.no_scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.no_scrollbar::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.grey_background {
  background-color: rgb(223, 222, 222);
  min-width: 130px;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  text-align: center;
  font-weight: bold;
}

.modal-search {
  position: absolute;
  top: 85%;
  display: flex;
  flex-direction: column;
  /* left:2vw; */
  background: #ffffff;
  width: 360px;
  min-height: fit-content;
  max-height: 60vh;
  overflow-x: scroll;
  z-index: 109;
  border-radius: 0px 0px 10px 10px;
  overflow-x: hidden;
  box-shadow: 0 0 11px rgb(33 33 33 / 20%);
}
.modal-search::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;

  background: rgb(252, 252, 252);
}
.links {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  font-size: 20px;
  /* flex-direction: column;
    align-items: flex-end; */
}

.modal-search::-webkit-scrollbar-thumb {
  background: #b0b0b8;
  border-radius: 10px;
  width: 1px;
}

/* Handle on hover */
.modal-search::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

.item {
  /* font-weight: lighter; */
  /* font-size: 14px; */
  /* background: green; */
  /* height: 50%; */
  /* margin-top: 1px; */
  /* margin-bottom: 4px; */

  border-bottom: 1px solid lightgray;
  background-color: white;
  padding-top: 12px;
  padding-left: 10px;
  padding-bottom: 12px;
  text-align: start;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 10rem;
}
.item p{
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0rem !important;
  width: 300px;
  margin-left: 0.3rem;
}
.item:hover {
  cursor: pointer;
  background: #dad7d7;
}
.background {
  position: fixed;
  top: 0px;
  left: 0px;
  /* background: rgba(31, 23, 23, 0.027); */
  width: 100%;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
}
#search-box {
  z-index: 12;
}
@media (max-width: 1300px) {
  .modal-search {
    width: 180px;
  }
}

.prodListRecentSelect{
  width: 150px;
}
