.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.top span img {
  padding-right: 40px;
  position: absolute;
}

.top > span {
  margin-left: 3%;
}

.top > span > h3 {
  font-size: 35px;
}

.top > span > h3 > small {
  font-size: 18px;
}

.input {
  position: relative;
  padding-left: 2rem;
  text-align: left;
  opacity: 0.5;
  border: none;
  border-bottom: 2px solid rgb(218, 215, 215);
  outline: none;
  width: 360px;
  font-size: 14px;
  padding-bottom: 10px;
}

@media (max-width: 1300px) {
  .input {
    width: 180px;
  }
}

.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 40%;
  height: 3%;
  margin-bottom: 50px;
}

.middle h3 {
  font-size: 35px;
  font-weight: bold;
  margin-right: 120px;
}

.dropdown {
  background-color: #f6f6f6;
  min-width: 130px;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  padding: 15px 0px 15px 20px;
  outline: none;
  text-align: center;
  font-weight: bold;
  margin-right: 3rem;
}

.utility {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: space-between;
}
.utility div {
  width: 220px;
  height: 350px;
  border-radius: 30px;
  text-align: left;
  padding: 1.5rem;
  box-shadow: #eaddf8;
  margin-bottom: 3rem;
  align-items: center;
}

/* @media(max-width: 790px){
    .utility div{
        width: 35%;
    }
  } */
@media (min-width: 1300px) {
  .menuIcon {
    display: none;
  }
}

.utility div p {
  font-size: 14px;
}

.utility div span {
  font-size: 18px;
}

/* .utility div:not(:last-child){
    margin-right: 53px;
} */

.button {
  color: white;
  border: 2px solid #007fff;
  border-radius: 50%;
  background-color: #007fff;
  height: 80px;
  width: 80px;
  right: 40px;
  bottom: 40px;
  position: fixed;
  text-align: center;
  display: block;
  box-shadow: 5px 7px 14px #007fff4d;
  cursor: pointer;
}

.fab {
  width: 60px;
  height: 60x;
  /* background-color: #d23f31; */
}

.fabOptions {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 70px;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}
.fab:hover + .fabOptions,
.fabOptions:hover {
  opacity: 1;
  transform: scale(1);
}

.fabOptions > li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fabLabel {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: #666666;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.fabContainer {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 999;
  cursor: pointer;
}

.fabIconHolder {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background: #007fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fabIconHolder > i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 25px;
  color: #ffffff;
}
.fabIconHolder:hover {
  opacity: 0.8;
}

.button:focus {
  outline: none;
}

.next {
  border-radius: 15px;
  position: absolute;
  right: 0;
  bottom: 2%;
  width: 12%;
  outline: none;
  border: none;
  background-color: #007fff;
  color: white;
  padding: 1rem;
  font-size: 16px;
}

.notifications {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Notif {
  transition: all 0.3s ease;
}

.Notif:hover {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.74);
  box-shadow: -10px -10px 15px rgba(255 , 255, 255, 0.5), 10px 10px 15px rgba(70,70,70,0.12);
  border-radius: 50px;
  border: 1px solid #bebec0;
}

.UserImg {
  border: 4px solid #007fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.notifications span {
  margin: 1rem;
  font-size: 22px;
}

@media (max-width: 500px) {
  .top {
    display: none;
  }
  .middle {
    display: none;
  }
}

.member {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: space-between;
}

button {
  outline: none;
  cursor: pointer;
}

.addMembers {
  background-color: #007fff;
  border-radius: 18px;
  width: 200px;
  height: 60px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  right: 0;
  bottom: 1.5rem;
}

.rotate:hover {
  animation: rotate-keyframes 1s;
}

@keyframes rotate-keyframes {
  100% {
    /* transform: rotate(-45deg) translateZ(0); */
    transform: rotate(-45deg);
  }
}
