@media all and (max-width: 575.9px) {
  .FormSection {
    flex-direction: column;
  }

  .FormSection > img {
    display: none;
  }
  .FormDetails {
    width: max-content;
  }
  .Register > .Logo {
    margin-left: 6% !important;
    margin-top: 6%; 
    margin-bottom: 6%;
  }
  .FormDetails > input {
    margin: 2% 5%;
  }

  .FormDetails > .Row > input {
    margin: 2% 5%;
  }
  .FormDetails > button {
    margin: 2% 5%;
  }
  .FormDetails > .password  {
    margin: 2% 5%;
  }
  .FormDetails > .Row > .firstNameInput {
    margin-right: 0px;
  }
  .FormDetails > .Row > .lastNameInput{
    margin-left: 0px;
  }
}


@media all and (max-width: 768px) and (min-width: 576px) {
    .FormSection {
        flex-direction: column;
      }
    
      .FormSection > img {
        display: none;
      }
      .FormDetails {
        width: max-content;
      }
      .Register > .Logo {
        margin-left: 4%;
      }
      .FormDetails > input {
        margin: 2% 15%;
      }
    
      .FormDetails > .Row > input:first-child {
        margin-left: 15%;
      }
      .FormDetails > .Row > input:last-child{
        margin-right: 15%;
      }
      .FormDetails > button {
        margin: 2% 15%;
      }
      .FormRuleRegister p{
        padding: 1rem 3rem;
        text-transform: uppercase;
      }
      .FormRuleLogin p{
        padding: 1rem 3rem;
        text-transform: uppercase;
      }
  }
  